body {
  background-color: rgb(23, 23, 23);
}

.main {
  background-color: rgb(252, 248, 242);
  border-radius: 11px;
  padding: 20px;
  width: 40%;
  margin-left: 28%;
  margin-top: 15%;
}
.main .out {
  border-radius: 20px;
  background-color: rgb(177, 177, 177);
  height: 23px;
}
.main .out .in {
  border-radius: 20px;
  background-color: rgb(33, 221, 0);
  width: 0%;
  height: 23px;
}
.main .bot {
  display: flex;
}
.main .bot button {
  border-radius: 5px;
  background-color: rgb(29, 207, 29);
  font-size: large;
  margin-left: 39%;
  height: 50px;
}
.main .bot button:active {
  transform: scale(1.05);
}
.main .bot h3 {
  font-size: 1.3rem;
}
.main h2 {
  text-align: end;
  font-size: 1.8rem;
}