body{
    height: 100vh;
   
    background-color: rgb(236, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#parent{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    width :320px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

}
#parent h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}
#parent label{
    display: block ;
    margin: 10px 0 5px;
    font-size: 14px;
}
#parent input,textarea{
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
#parent textarea{
    height: 80px;
    resize: none;
}
#parent button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: rgb(16, 76, 254);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    
}
#parent button:hover{
    transform: scale(1.05);
    background-color: rgb(29, 136, 250);
}
#parent button:active{
    transform: scale(3s);
    background-color: rgb(254, 16, 16);
}
#parent textarea:focus{
    border-color: rgb(47, 203, 231);
    outline: none;
}
#parent input:focus{
    border-color: rgb(47, 203, 231);
    outline: none;
}
