#parent{
    height: 55vw;
    width: 100vw;
    width: 100%;;
    background-color: lightblue;
    padding: 20px;
    display: flex;
}
#child0{
    position: absolute;
    top: 20%;
    left: 30%;
    height: 80%;
    width: 40%;
    background-color: rgb(175, 61, 61);
    padding: 20px;
}